.title-row.tn-title-row-compact {
    display: flex;
    align-items: center;
    height: 32px;
    min-height: unset;

    .note-icon-widget {
        display: flex;
        align-items: center;
        height: 32px;
        min-height: unset;
        margin-inline-start: 0;
    }

    .note-icon-widget.note-icon-widget {
        margin-inline-end: 8px;
    }

    .note-title-widget {
        display: flex;
        align-items: center;
    }

    .note-title-widget.note-title-widget {
        --note-title-padding-inline: 0;
    }

    .note-icon-widget button.note-icon,
    .note-title-widget input.note-title {
        font-size: 1em;
    }
}
