.backup-location .tn-card-section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 16px;

    .backup-location-icon {
        grid-row: 1 / span 2;
        font-size: 2.2em;
        opacity: .6;
    }

    .backup-location-label {
        grid-column: 2;
        font-size: .85em;
        opacity: .7;
    }

    .backup-location-path {
        grid-column: 2;
        overflow-wrap: anywhere;
    }

    .backup-location-actions {
        display: flex;
        grid-column: 3;
        grid-row: 1 / span 2;
        gap: 8px;

        .btn {
            white-space: nowrap;
        }
    }
}
