.note-detail-content-widget-content.options {
    /* #region Code Preview */
    .options-section.code-block-appearance .options-section-card {
        overflow: hidden;

        .option-row:nth-last-child(2) {
            border-bottom: 0;
        }

        .note-detail-readonly-code-content {
            border-top: solid 1px var(--main-border-color);
            margin: 0 calc(var(--options-card-padding) * -1) calc(var(--options-card-padding) * -1) calc(var(--options-card-padding) * -1) !important;
        }
    }
    /* #endregion */
}
