.options-section-card {
    .admonition {
        margin: calc(var(--options-card-padding) * -1) calc(var(--options-card-padding) * -1) 0 calc(var(--options-card-padding) * -1);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .collapsible {
        margin-top: 0.5em;
    }
}
