.llm-chat-tools-icon {
    line-height: inherit;

    &.llm-chat-tools-on {
        color: var(--link-color);
    }
}

.tn-dropdown-portal.llm-chat-tools {
    .dropdown-item .description {
        max-width: 18rem;
        white-space: normal;
    }

    .llm-chat-tools-provider-icon {
        --masked-icon-size: 1em;

        margin-inline-end: 0.4em;
        opacity: 0.8;
    }
}
