.note-detail-editable-text {
    font-family: var(--detail-font-family);
    height: 100%;
}

/* Workaround for #1327 */
body.desktop.electron .note-detail-editable-text {
    letter-spacing: -0.01px;
}

body.mobile .note-detail-editable-text {
    padding-inline-start: 4px;
}

.note-detail-editable-text a:hover {
    cursor: pointer;
}

.note-detail-editable-text :is(a[href^="http://"], a[href^="https://"]):where(:not(.excalidraw *)) {
    cursor: text !important;
}

.note-detail-editable-text *:not(figure, .include-note, hr, .excalidraw *):first-child {
    margin-top: 0 !important;
}

/* `:where(:not(.excalidraw *))` leaves out the UI of an embedded canvas drawing. */
.note-detail-editable-text :where(:not(.excalidraw *)) {
    &:is(h2) { font-size: 1.6em; }
    &:is(h3) { font-size: 1.4em; }
    &:is(h4) { font-size: 1.2em; }
    &:is(h5) { font-size: 1.1em; }
    &:is(h6) { font-size: 1.0em; }

    body.heading-style-markdown & {
        &:is(h2)::before { content: "##\2004"; }
        &:is(h3)::before { content: "###\2004"; }
        &:is(h4):not(.include-note-title)::before { content: "####\2004"; }
        &:is(h5)::before { content: "#####\2004"; }
        &:is(h6)::before { content: "######\2004"; }

        &:is(h2, h3, h5, h6)::before,
        &:is(h4):not(.include-note-title)::before {
            color: var(--muted-text-color);
        }
    }

    body.heading-style-underline & {
        &:is(h2),
        &:is(h3),
        &:is(h4):not(.include-note-title),
        &:is(h5),
        &:is(h6) {
            border-bottom: 1px solid var(--main-border-color);
        }
    }
}

.note-detail-editable-text-editor {
    padding-top: 10px;
    border: 0 !important;
    box-shadow: none !important;
    min-height: 50px;
    height: 100%;
}

.note-detail-editable-text .ck.ck-editor__editable_inline {
    padding: 0;
}

.note-detail-editable-text ul.todo-list:not(.todo-list .todo-list) {
    /* Prevent the block handle overlap the expand/collapse arrows for the first
     * level of nested checkboxes */
    margin-inline-start: 14px;
}